/* ---------variables ------------ */
:root {
    /* text */
    --color-Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --color-Soft-red: hsl(14, 88%, 65%);
    /* gradients */
    --color-Soft-violet: hsl(273, 75%, 66%);
    --color-Soft-blue: hsl(240, 73%, 65%);

    --color-Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --color-Dark-grayish-blue: hsl(240, 6%, 50%);
    --color-Light-grayish-blue: hsl(240, 5%, 91%);


    --mobile: 375px;
    --desktop: 1440px;
}

/* ------Reset Styles ------- */
html {
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    height: 100vh;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient( hsl(273, 75%, 66%),hsl(240, 73%, 65%));
}

.container {
    margin-top: 6rem;
    background-color: var(--color-Light-grayish-blue);
    display: flex;
    width: 860px;
    height: 450px;
    border-radius: 15px;
    overflow: hidden;

}

.faq-container {
    width: 430px;
    margin-top: 2rem;
    margin-right: 4rem;
}

.container-desktop-picture {
    width: 430px;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-size: contain;
}

.desktop-picture {
    position: relative;
    right: 70px;
    top: 50px;
}

.desktop-picture-box {
    position: absolute;
    left: 150px;
    top: 250px;
    z-index: 5;
}

.question-container {
    border-bottom: solid grey 1px;
}

.hiden {
    display: none;
}

.active {
    font-weight: 700;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container-mobil-picture {
    display: none;
}

.arrow{
    cursor: pointer;
}


@media (max-width: 375px) {

    html {
        height: 750px;
    }

    .container-mobil-picture {
        display: block;
        height: 120px;
        position: relative;
    }

    .container-desktop-picture {
        display: none;
    }

    .container {
        display: block;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 180px;
        width: 300px;
        height: fit-content;
        overflow: visible;
    }

    .question-container {
        display: flex;
        flex-direction: column;
    }


    .faq-container {
        width: auto;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 0%;
        height: 320px;

    }

    .mobil-picture {
        position: absolute;
        top: -145px;
    }

    h1 {
        text-align: center;
    }

}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}