/* ---------variables ------------ */
:root {
    /* text */
    --color-Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --color-Soft-red: hsl(14, 88%, 65%);
    /* gradients */
    --color-Soft-violet: hsl(273, 75%, 66%);
    --color-Soft-blue: hsl(240, 73%, 65%);

    --color-Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --color-Dark-grayish-blue: hsl(240, 6%, 50%);
    --color-Light-grayish-blue: hsl(240, 5%, 91%);


    --mobile: 375px;
    --desktop: 1440px;
}

/* ------Reset Styles ------- */
html {
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-Soft-blue);
}

.container {
    margin-top: 6rem;
    background-color: var(--color-Light-grayish-blue);
    display: flex;
    width: 860px;
    height: 450px;
    border-radius: 15px;
    overflow: hidden    ;
}

.container-desktop-picture{
    width: 430px;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-size: contain;
}

.faq-container {
    width: 430px;
    margin-top: 2rem;
    margin-right: 4rem;
}

.picture{
    position: relative;
    right: 70px;
    top: 50px;
}

.box {
    position:absolute;
    left: 150px;
    top: 250px;
    z-index: 5;
}

.question-container{
    border-bottom: solid grey 1px;
}

.answer{
    display: none;
}

.active {
    font-weight: 700;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobil-picture{
    display: none;
}

@media (max-width: 600px) {

    .container-desktop-picture{
        display: none;
    }

    .mobil-picture{
        display: block;
        position: absolute;
        width: 250px;
        top: 0px;
        right: 60px;

    }


.container {
    width: 340px;
    margin-top: 9rem;
}

.faq-container {
    width: 430px;
    margin: 2rem;
}

}









.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }














